@import './components/navbar';
@import './components/reusable__components/navbarbuttons';

:root {
    --buttonBGC: rgb(191, 245, 160);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

