@import './components/navbar';
@import './components/home';
@import './components/about';
@import './components/portfolio';
@import './components/contact';
@import './components/button';


:root {
    --Text__Primary: rgb(67, 102, 116);
    --BGC__Light__Primary: rgb(88, 172, 172);
    --BGC__Light__Secondary: rgb(88, 172, 92);
    --NavBar__Height: 55px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--Text__Primary)
}

