@import './components/navbar';
@import './components/home';
@import './components/about';
@import './components/portfolio';
@import './components/contact';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


:root {
    /* Colors / Themes */
    --BGC__Primary: rgba(92, 41, 231, 0.2);
    --BGC__Secondary: rgba(92, 41, 231, 0.4);
    --BGC__Section:rgb(105, 115, 204);
    --Highlight: rgba(0, 255, 255, 0.6);
    --Icons: rgb(18, 67, 122);
    --Text__Primary: rgb(18, 67, 122);
    --Btn__BGC:rgb(105, 115, 204);
    
    /* Parameters */
    --NavBar__Height: 55px;

}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--Text__Primary);
}

/*  https://stackoverflow.com/questions/38021252/how-to-make-scrollbar-length-less-than-parent-block 
    https://css-tricks.com/custom-scrollbars-in-webkit/
*/

.about ::-webkit-scrollbar,
.portfolio__gallery ::-webkit-scrollbar,
.contact__form ::-webkit-scrollbar,
.introduction ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(92, 59, 184, 0.4);
    border-radius: 50px;
    height: 10px;
    padding: 5% 0;
    margin: 5% 0;
}

.about ::-webkit-scrollbar-thumb,
.portfolio__gallery ::-webkit-scrollbar-thumb,
.contact__form ::-webkit-scrollbar-thumb,
.introduction ::-webkit-scrollbar-thumb {
    background-color: var(--Text__Primary);
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    p {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}

