.about__container {
    height: calc(100vh - var(--NavBar__Height));
    background-color: var(--BGC__Light__Secondary);
    /*padding-top: var(--NavBar__Height);*/
}

.about__container h1 {
    padding-top: 20px;
    margin-bottom: 0px;
}