.nav__links__container{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__link
{
    cursor: pointer;
    padding: 7px 25px;
    margin: 0 4px;
    border: none;
    border-radius: 15px;
    background-color: var(--Btn__BGC);
    font-weight: 900;
    color: var(--Text__Primary);
}

.nav__link:hover
{
    background-color: rgba(0, 255, 255, 0.6);
    transition: 500ms;   
}

.active .nav__link
{
    cursor: pointer;
    padding: 7px 25px;
    margin: 0 4px;
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 255, 255, 0.6);
    font-weight: 900;
}


// ************************Side Bar Menu **************************//
.nav__side__link,
.nav__side__link a:visited,
.nav__links__left__side__container a:visited {
    color: var(--Text__Primary);
}

.nav__side__link:hover,
.nav__side__link a:hover
{
    border-radius: 50px;
    color: rgba(0, 255, 255, 0.6);
    transition: 500ms; 
}

.active .nav__side__link
{
    color: rgba(0, 255, 255, 0.6);
    transition: 500ms; 
}


