.contact {
    height: calc(100vh - var(--NavBar__Height));
    background-color: var(--BGC__Light__Secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact h1 {
    padding-top: 20px;
    margin-bottom: 0px;
}

.contact-form {
    width: 75%;
    height: auto;
    padding: 2%;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: var(--Btn__BGC);
}