// https://redstapler.co/pure-css-minimal-dark-mode-toggle-button/

#toggle__label {
    width: 40px;
    height: 20px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: insert 0px 5px 15px rgba(0,0,0,0.4), insert 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

#toggle__label:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 18px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

#darkmode__button {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + #toggle__label {
    background: #242424;
}

input:checked + #toggle__label:after {
    left:38px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}

#toggle__label, #toggle__label:after {
    transition: 0.3s
}

