.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--Secondary);
    background-color: rgb(207, 189, 107);
    height: var(--NavBar__Height);
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 1rem 25rem;
}

.nav__container > h1 {
    margin-left: 25px;
    font-size: 2rem;
}

