

.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--Secondary);
    background-color: rgba(207, 189, 107, 0.5);
    height: var(--NavBar__Height);
    display: var(--NavBar__Display);  
    justify-content: stretch;
    align-items: center;
    padding: 1rem 5rem;
}

.nav__container > h1 {
    margin-left: 25px;
    font-size: 2rem;
}

