.portfolio__container {
    height: calc(100vh - var(--NavBar__Height));
    background-color: var(--BGC__Light__Primary);
    /*padding-top: var(--NavBar__Height);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.portfolio__container h1 {
    padding-top: 20px;
    margin-bottom: 0px;
}